version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "dev"
    rebase-strategy: "auto"
    allow:
      - dependency-type: "direct"
    commit-message:
      prefix: "[Github Actions]"
  
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "dev"
    rebase-strategy: "auto"
    allow:
      - dependency-type: "direct"
    commit-message:
      prefix: "[NPM]"