version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "dev"
    commit-message:
      prefix: "[Github Actions]"
    groups:
      github-actions:
        patterns:
          - "*"
  
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "dev"
    commit-message:
      prefix: "[NPM]"
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
    open-pull-requests-limit: 10
