services:
  nova:
    image: ghcr.io/doubleangels/nova:latest
    container_name: nova
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
    read_only: true
    environment:
      - DOPPLER_TOKEN=your_doppler_service_token_here
    volumes:
      - ./data:/app/data:rw,noexec,nosuid
    tmpfs:
      - /tmp