services:
  nova:
    image: ghcr.io/doubleangels/nova:latest
    container_name: nova
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    security_opt:
      - no-new-privileges:true
    read_only: true
    environment:
      - BWS_ACCESS_TOKEN=your_bitwarden_secrets_manager_access_token_here
    volumes:
      - ./data:/app/data:rw,noexec,nosuid
    tmpfs:
      - /tmp