name: Dependabot Auto-Merge

on:
    workflow_run:
        workflows: ["Development Build Testing"]
        types:
            - completed

permissions:
    pull-requests: write
    contents: write

jobs:
    automerge:
        if: >
            github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.event == 'pull_request' &&
            github.event.workflow_run.actor == 'dependabot[bot]'

        runs-on: ubuntu-latest

        steps:
            - name: Auto-merge Dependabot PRs
              uses: fastify/github-action-merge-dependabot@v3
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  merge-method: merge
